.ex-1-square {
    transition: all 2s ease-in-out 0s;
}

.ex-1-square:hover {
    background-color: red;
}

.ex-2-square {
    transition: all 2s ease 0s;
}

.ex-2-square:active {
    width: 100%;
}

.ex-3-square {
    transition: all 1s ease 0s;
}

.ex-3-square:hover {
    border-radius: 50%;
}

.ex-4-square {
    transition: all 1s ease 0s;
}

.ex-4-square:hover {
    opacity: 0;
}

.ex-5-square {
    transition: all 1s ease 0s;
}

.ex-5-square:hover {
    transform: scale(2);
}

.ex-5-square:active {
    transform: scale(0.5);
}

.ex-6-img:hover {
    filter: grayscale(1);
}

.ex-7-img {
    transition: all 2s ease 0s;
}

.ex-7-img:hover {
    filter: grayscale(0.5) sepia(0.5);
}

.ex-8-img {
    transition: all 2s ease 0s;
}

.ex-8-img:hover {
    filter: grayscale(0.5) sepia(0.5);
    border-radius: 20px;
}

.ex-9-img {
    transition: all 2s ease 0s;
}

.ex-9-img:hover {
    filter: grayscale(0.5) sepia(0.5);
    border-radius: 20px;
    transform: scale(1.5);
}

.ex-10-icon {
    animation-name: spin;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.ex-11-icon:hover {
    animation: spin-315 2s linear;
}

.ex-12-button:hover .ex-12-top-white {
    animation: translate-left-right 2s linear;
}

.ex-12-button:hover .ex-12-bottom-white {
    animation: translate-right-left 2s linear;
}

.ex-13-button:hover .ex-13-top-white {
    animation: translate-right 2s linear;
}

.ex-13-button:hover .ex-13-bottom-white {
    animation: translate-left 2s linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes spin-315 {
    0% {
        transform: rotate(0deg);
    }
    90% {
        transform: rotate(315deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes translate-left-right {
    50% {
        left: 65%;
    }
    100% {
        left: 10%;
    }
}

@keyframes translate-right-left {
    50% {
        right: 65%;
    }
    100% {
        right: 20%;
    }
}

@keyframes translate-right {
    0% {
        top: -10px;
        left: 10%;
    }
    25% {
        top: -10px;
        left: 85%;
    }
    50% {
        top: 55px;
        left: 85%;
    }
    75% {
        top: 55px;
        left: -15%;
    }
    90% {
        top: -10px;
        left: -15%;
    }
    100% {
        top: -10px;
        left: 10%;
    }
}

@keyframes translate-left {
    0% {
        right: 20%;
        bottom: -10px;
    }
    25% {
        right: 85%;
        bottom: -10px;
    }
    50% {
        right: 85%;
        bottom: 55px;
    }
    75% {
        right: -15%;
        bottom: 55px;
    }
    90% {
        right: -15%;
        bottom: -10px;
    }
    100% {
        right: 20%;
        bottom: -10px;
    }
}